{
    "babelrc": true,
    "comments": false,
    "sourceMaps": true,
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "safari >= 7"
                    ]
                }
            }
        ],
        "react"
    ],
    "plugins": [
        "transform-runtime", ["import", {"libraryName": "antd", "style": true}],
        "syntax-dynamic-import",
        "transform-object-rest-spread"
    ],
    "env": {
        "production": {
            "plugins": []
        },
        "development": {
            "plugins": []
        }
    }
}