{
    "babelrc": true,
    "comments": false,
    "sourceMaps": true,
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "safari >= 7"
                    ]
                }
            }
        ],
        "react"
    ],
    "plugins": [
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "lib",
            "style": true
        }]
    ],
    "env": {
        "production": {
            "plugins": []
        },
        "development": {
            "plugins": []
        }
    }
}